body, html{
  margin:0;
  user-select:none;
}

/*DIV POSITIONINGS*/
.windiv{
  width:100vw; 
  height:20vh; 

  display: flex;
  justify-content: center;
  align-items: center;
}

@media(min-width:2001px){
   .diceparent{
      display:flex;
   }
   .dicechild1{
      width:50vw; 
      height:60vh; 

      display: flex;
      justify-content: center;
      align-items: center;
   }
   .dicechild2{
      width:50vw; 
      height:60vh; 

      display: flex;
      justify-content: center;
      align-items: center;
   }
}

@media(max-width:2000px){
  .diceparent{
      display:flex;
      flex-direction: column;
   }
   .dicechild1{
      width:100vw; 
      height:30vh; 

      display: flex;
      justify-content: center;
      align-items: center;
   }
   .dicechild2{
      width:100vw; 
      height:30vh;

      display: flex;
      justify-content: center;
      align-items: center;
   }
}

.btndiv{
  width:100vw; 
  height:20vh; 

  display: flex;
  justify-content: center;
  align-items: center;
}
/*DIV POSITIONINGS*/




@keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(3600deg);
    }
  }
  
  .roller{
    animation: rotate 2s linear; /* Adjust animation duration and timing function as needed */
  }
  
